@font-face {
   font-family: 'Perandory-Condensed';
   font-display: swap;
   src: url('Perandory-Condensed/font.ttf');
}
@font-face {
   font-family: 'Agrandir-Grand-Light-300';
   font-display: swap;
   src: url('Agrandir-Grand-Light-300/font.ttf');
}
